@{
    ViewBag.Title = "Anasayfa";
}
@using Travel.Extensions
@model Travel.Models.Blog.BlogListModel
<!-- Featured Slider -->
<div id="featured-slider-v2" class="slider-1-column">
    <div class="container">
        <div class="owl-carousel owl-theme">
            @foreach (var item in Model.Sliders)
            {
                <div class="item">
                    <div class="image" style="background-image: url(/content/travel/images/@item.Image)"></div>
                    <div class="content">
                        <h2 class="title">
                            <a>@item.Title</a>
                        </h2>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- End Featured Slider -->
<!-- Profile -->
<div id="profile" class="profile" style="background-image:url(/content/travel/images/footer/background.jpg)" ;>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="title">Dave Ellender</h2>
                <span class="profile-caption">Content Curator</span>
                <div class="profile-content">
                    <p>
                        Dave Ellender loves beautiful content and doesn't like to give in easily. Vitaly is writer, speaker, author and editor-in-chief of Smashing Magazine. He runs responsive Web design workshops, online workshops and loves solving complex UX, front-end and performance problems in large companies.
                    </p>
                    <p>
                        <a href="" class="kd-link">Get in touch.</a>
                    </p>
                </div>
                <div class="socials">
                    <a href="" title="Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-profile">
                    <img src="/content/travel/images/avatar.jpg" alt="Dave Ellender">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Profile -->
<!-- Main Content -->
<div id="main-content" class="main-content clearfix" data-sidebar="right">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-posts">
                    <div class="list-layout">
                        <!-- Article -->
                        @foreach (var item in Model.BlogPosts)
                        {
                            <article class="post-list post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- Thumbnail -->
                                        <div class="post-media">
                                            <a href="@Url.Action("Single","Home",new { id = item.Id })">
                                                <div class="image" style="background-image: url(/content/travel/images/blog/@item.Image1);">
                                                    <img src="~/content/travel/images/blog/@item.Image1" alt="The basis of friendship is sharing">
                                                </div>
                                            </a>
                                        </div>
                                        <!-- End Thumbnail -->
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Title -->
                                        <h3 class="title">
                                            <a href="@Url.Action("Single","Home",new { id = item.Id })">@item.Title1</a>
                                        </h3>
                                        <!-- End Title -->
                                        <!-- Post Details -->
                                        <div class="post-details">
                                            <a href="" class="post-date">@item.CreateDate</a>
                                        </div>
                                        <!-- End Post Details -->
                                        <!-- The Excerpt -->
                                        <div class="the-excerpt">
                                            <p>@item.Definition1</p>
                                        </div>
                                        <!-- End The Excerpt -->
                                        <!-- Read More -->
                                        <div class="read-more">
                                            <a href="@Url.Action("Single","Home",new { id = item.Id })">Read More</a>
                                        </div>
                                        <!-- End Read More -->
                                    </div>
                                </div>
                            </article>

                        }
                        <!-- End Article -->
                    </div>
                </div>
                <!-- Pagination -->
                @{
                    var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
                }
                @if (!pager.IsEmpty())
                {
                    <div class="pagination-wrap clearfix">
                        @pager
                    </div>
                }
              
                <!-- End Pagination -->
            </div>
                
        </div>
    </div>
</div>
<!-- End Main Content -->