@model Travel.Models.About.AboutListModel

@{ ViewBag.Title = "List";

    Layout = "~/views/shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Page header -->
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("List","About")" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                    <span class="breadcrumb-item active">Dashboard</span>
                </div>

                <a href="@Url.Action("List","About")" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">

        <div class="card">
            <div class="card-header bg-white header-elements-sm-inline">
                <h6 class="card-title"> Hakkımızda Listesi </h6>
                <div class="header-elements">
                    <a href="@Url.Action("Create","About")" name="save" class="btn bg-blue"><i class="icon-floppy-disk mr-1"></i> Yeni Ekle </a>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Başlık</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SearchName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SearchName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="col-md-2 offset-5">
                                <button id="btnSearch" class="btn btn-primary"> <i class="icon-search4"></i> Arama </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <table id="myTable" class="table table-striped table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th>Baslik</th>
                        <th>Fotoğraf</th>
                        <th>Ekleme Tarihi</th>
                        <th>Aktif mi?</th>
                        <th>Düzenle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#myTable').DataTable({
            "processing": false,                       // for show processing bar
            "serverSide": true,                       // for process on server side
            "orderMulti": false,                      // for disable multi column order
            "dom": '<"top"i>rt<"bottom"lp><"clear">', // for hide default global search box
            "ordering": false,
            "ajax": {
                "url": "@Url.Action("List", "About")",
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "Title", "name": "Title", "autoWidth": true },
                {
                    "data": "img",
                    "render": function (url, type, full) {
                        console.log(full);
                        return '<img height="50px" width="75px" src="/content/travel/images/' + full.Image + '"/>';
                    }
                },
                {
                    "data": "CreateDate", "name": "CreateDate", "autoWidth": true,
                    "mRender": function (data, type, full)
                    {
                        console.log(data);
                        var dtStart = new Date(parseInt(data.substr(6)));
                        var dtStartWrapper = moment(dtStart);
                        return dtStartWrapper.format('DD/MM/YYYY');
                    }
                },
                {
                    "data": "IsActive", "name": "IsActive", "autoWidth": true, "render": function (data, type, row) {
                        debugger;
                        return (data === true) ?
                            "Evet" : "Hayır";
                    }
                },
                {
                    "render": function (data, type, full, meta)
                    {
                        return '<a class="btn btn-info"  href="/About/Edit/' + full.Id + '">Düzenle</a>';
                    }
                },
                {
                    "render": function (data, type, full, meta) {
                        return '<a class="btn btn-danger"  href="/About/Delete/' + full.Id + '">Sil</a>';
                    }
                }
            ],
            "language": {
                "sInfo": '',//remove => There are a total of _TOTAL_ <span class="lvllbl"></span>.
                "sInfoEmpty": '',//remove => There are a total of _TOTAL_ <span class="lvllbl"></span>.
                "sEmptyTable": '',//remove => There are no <span class="lvllbl"></span> to display
                "sZeroRecords": '',//remove => There are no matching <span class="lvllbl"></span> to display
                "sProcessing": 'Yükleniyor...<span class="lvllbl"></span>',
                "infoFiltered": "",//remove => - filtered from x total entries,
                "sLengthMenu": "Gösterilen Hakkımızda Sayısı _MENU_", //change => dropdownlist
                "paginate": { "previous": "Önceki", "next": "Sonraki" }//remove => previous,next
            },
        });
        $('#btnSearch').click(function () {
            //Apply Custom search on jQuery DataTables here
            debugger;
            oTable = $('#myTable').DataTable();
            var searchValue = {
                SearchName: $("#@Html.IdFor(model => model.SearchName)").val(),
            };
            var blkstr = [];
            $.each(searchValue, function(idx2,val2) {
              var str = idx2 + ":" + val2;
              blkstr.push(str);
            });
            //Apply search for
            oTable.search(blkstr);
            //hit search on server
            oTable.draw();
        });

        var input = document.getElementById("SearchName");

        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("btnSearch").click();
            }
        });
    });
</script>